<ion-header>
  <ion-toolbar class="title_page">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Crustaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let produit of produitsList">
      <ion-item *ngIf='produit.category === 2'>
      <ion-label>
        {{produit.name}} - {{produit.price}} €
      </ion-label>
      <ion-label slot="end">
        <ion-button (click)="saveToPanier(produit.id, produit)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button expand="full" color="secondary"  (click)="goToPanier()">
    <ion-icon name="bag-outline"></ion-icon>
    <p>   Panier</p>
  </ion-button>
</ion-content>
