<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Poissons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ng-container *ngFor="let produit of produitsList">
        <ion-item *ngIf='produit.category === 0'>
        <ion-label>
          {{produit.name}}
        </ion-label>
        <ion-label slot="end">
          {{produit.price}} €
          <ion-icon name="add-circle-outline" (click)="saveToPanier(produit.id, produit)"></ion-icon>
        </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-button expand="full" color="secondary"  (click)="goToPanier()">
      <ion-icon name="bag-outline"></ion-icon>
      <p>   Panier</p>
    </ion-button>
</ion-content>

