<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Nos bateaux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h5>Tous les eaux mènent à Thibault.</h5>
  <p>06.63.99.99.78</p>
  <p>lebateauthibault@gmail.com</p>
  <p>www.facebook.com/lebateauthibault</p>
  <ion-list>
    <ion-item *ngFor="let bateau of bateauxList" (click)="onLoadBateau(bateau)">
      <ion-avatar>
        <img [src]="bateau.icon">
      </ion-avatar>
      <ion-button>
        <ion-label>
          {{ bateau.name }}
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
