<ion-header>
  <ion-toolbar class="title_page">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let produit of produits">
        <ion-label>
          {{ produit.name }} - {{produit.price}} €
        </ion-label>
        <ion-label slot="end">
          <ion-button (click)="removeFromPanier(produit.id)" color="danger">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!vide">
  <app-settings></app-settings>
</ion-footer>