<ion-header>
  <ion-toolbar class="title_page">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <img src="../assets/App_Resources/iOS/TIG3.png">
    </ion-row>
    <ion-row>
      <button type="button" (click)="goToFb('https://www.facebook.com/lebateaudethibault')"><ion-icon name="logo-facebook" ></ion-icon></button>
    </ion-row>
  </ion-grid>
  
  
  
</ion-content>
