<ion-header>
  <ion-toolbar class="title_page">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Choisissez vos produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="onGoToPoissons()">Poissons</ion-button>
  <ion-button (click)="onGoToCrustaces()">Crustaces</ion-button>
  <ion-button (click)="onGoToCoquilllages()">Coquillages</ion-button>
  <ion-button (click)="onGoToPromotion()">Promotion</ion-button>
</ion-content>