<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Produits et Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let produit of produitsList" (click)="onLoadProduit(produit)">
      <ion-button>
        <ion-label>
          {{ produit.name }}
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>