<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ produit.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>{{ produit.name }}</ion-card-header>
    <ion-card-content>
      <p>{{produit.comments}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button full>Ajouter au panier</ion-button>
        </ion-col>
        <ion-col>
          <ion-button full>Supprimer du panier</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
