<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_page">Nos Recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h6>Toutes les recettes du bateau de Thibault.</h6>
  <p>06.63.99.99.78</p>
  <p>lebateauthibault@gmail.com</p>
  <p>www.facebook.com/lebateauthibault</p>
  <ion-list>
    <ion-item *ngFor="let recette of recettesList" (click)="onLoadRecette(recette)">
      <ion-button>
        <ion-label>
          {{ recette.name }}
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>