<ion-header class="header">
  <ion-toolbar>
    <ion-title class="title_page">
      Bateau Thibault
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <h3>Le bateau de Thibault</h3>
    <p>Vente en direct de notre bateau </p>
    <p>Produits selon la saison, Livraisons sur Paris</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onGoToProd_Prom()" color="secondary">Produits et promotions</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="onGoToBateaux()" color="secondary">Bateaux</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onGoToRestaurants()" color="secondary">Restaurants</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="onGoToRecettes()" color="secondary">Recettes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-row>
      <ion-col (click)="onGoToContact()" class="text">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text>  Contact</ion-text>
      </ion-col>
      <ion-col class="goRight" class="text">
        <ion-icon name="call-outline"> </ion-icon>
        <ion-text> 06 63 99 99 78</ion-text>
      </ion-col>
    </ion-row>
</ion-footer>